@model IEnumerable<AppointmentViewModel>

<div class="d-flex justify-content-between mb-4 mt-4">
    <h1>Appointments</h1>

    <a class="btn btn-primary align-self-center" asp-action="Add">
        <i class="bi bi-plus"></i>
        Book an Appointment
    </a>
</div>

@if (!Model.Any())
{
    <h2 class="alert alert-warning">
        <i class="bi bi-exclamation-triangle"></i>
        No pending appointments
    </h2>
}
else
{
    <div class="row">
        @* <a class="text-black link-underline link-underline-opacity-0" asp-action="Details" asp-route-id="Id"> *@
        <table id="customerAppointments" class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center"> Name </th>
                    <th> Date </th>
                    <th> Status </th>
                    <th> Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
            @* <tbody> *@
            @*     @foreach (var appointment in Model) *@
            @*     { *@
            @*         <tr> *@
            @*             <td>@appointment.Name</td> *@
            @*             <td>@appointment.Date</td> *@
            @*             <td class="@(appointment.Status.Contains("Approved")? "text-primary" :appointment.Status.Contains("Completed")? "text-success" : appointment.Status.Contains("Rejected")? "text-danger": "")">@appointment.Status</td> *@
            @*             <td> *@
            @*                 @if (appointment.Status == "Completed" || appointment.Status == "Approved") *@
            @*                 { *@
            @*                     <a asp-action="Details" asp-route-id="@appointment.Id" class="btn btn-outline-secondary me-1"> *@
            @*                         @* asp-route-id="@appointment.Id" used to select the appointment*@
            @*                         <i class="bi bi-list-ul"></i> *@
            @*                     </a> *@
            @*                 } *@
            @*                 @if (appointment.Status == "Pending" || appointment.Status == "Rejected" || appointment.Status == "Approved") *@
            @*                 { *@
            @*                     <a href="javascript:;" class="btn btn-danger js-delete ms-1" data-id="@appointment.Id"> *@
            @*                         <i class="bi bi-trash"></i> *@
            @*                     </a> *@
            @*                 } *@
            @*             </td> *@
            @*         </tr> *@
            @*     } *@
            @* </tbody> *@
        </table>
        @* </a> *@
    </div>
}