@model AppointmentViewModel

@{
    ViewData["Title"] = "Appointment";
}



<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Appointment @Model.Name Details</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <a asp-action="Index" asp-controller="Home" class="breadcrumb-item text-white active"> Home </a>
                <a asp-action="Details" asp-controller="Home" class="breadcrumb-item text-white active"> Appointment @Model.Name Details </a>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<div class="row border border-2 border-success rounded-5 mt-4 p-4 border-opacity-25">
    <div class="column col-6 card-body d-flex flex-column justify-content-between">

        <h2 class="card-title mb-4">@Model.Name Service</h2>

        <p><strong>Customer: </strong>@Model.Customer.FullName</p>
        <p><strong>Employee: </strong>@Model.Employee.FullName</p>
        <p><strong>Date: </strong>@Model.Date</p>
        <p>
            <strong>Status: </strong>

            @if (Model.Status == "Approved")
            {
                <span>🔵</span>
            }
            else if (Model.Status == "Completed")
            {
                <span>🟢</span>
            }
            @* I know that there Pending and Rejected Appointments can be viewed but i placed it there incase if i wanted to show them later*@
            else if (Model.Status == "Pending")
            {
                <span>🟠</span>
            }
            else if (Model.Status == "Rejected")
            {
                <span>🔴</span>
            }
            @Model.Status
        </p>
        <p><strong>Notes: </strong>@Model.Notes</p>
    </div>
    <div class="column col-6 datepicker" id="DatePicker">
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-secondary mt-3">
        <i class="bi bi-arrow-left"></i>
        Go Back
    </a>
</div>

@section Scripts {

    <script>
        $(function () {

        var modelDate= "@Model.Date.Split(" - ")[0]";
        var dateParts = modelDate.split('/');
        var appointmentDate = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]); // yyyy, mm-1, dd

            $("#DatePicker").datepicker({
                dateFormat: "dd/MM/yyyy",
                defaultDate: appointmentDate,
                beforeShowDay: function (date) {
                    // disable all dates but the appointment date
                    if (date.getFullYear() === appointmentDate.getFullYear() &&
                        date.getMonth() === appointmentDate.getMonth() &&
                        date.getDate() === appointmentDate.getDate()) {
                        return [true, '']; // enable only the appointment date
                    }
                    return [false, '']; // disable all other dates
                }
            });

        });
    </script>
}