@model ServiceViewModel

@{
    ViewData["Title"] = "@Model.Name  Details";
}
<div class="card-body d-flex flex-column justify-content-between">
    <h5 class="card-title">@Model.Name Service</h5>
    <span><strong>Price: </strong>@Model.Price JD</span>
    <p>
        Available in:
        @foreach (var DateTimeSlotGroup in Model.DateTimeSlotGroups)
        {
            <span>@DateTimeSlotGroup.Date -- </span>
        }
    </p>
    <div>
        Description:
        <p> @Model.Description</p>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-outline-secondary">
            @* asp-route-id="@service.Id" used to select the service*@
            <i class="bi bi-arrow-left"></i>
            Go Back
        </a>
    </div>
</div>